.form {
  max-width: 350px;
  margin: 50px auto 0;
  padding: 20px;
  background: #1bfa1b;
  font-family: "Oswald", sans-serif;
  border: 1px solid green;
  border-radius: 10px;
}
.input {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
}
